<div class="container form-cont">
  <div class="row pt-3">
    <div class="col-md-2">
      <button type="submit" routerLink="" class="btn btn-primary btn-sm mb-3">BACK</button>
    </div>
    <div class="col-md-8">
      <form>
        <div class="mb-3">
          <label for="accountType">Account Type</label>
          <select class="form-control custom-select" name="accountType" [(ngModel)]="account.accountType">
            <option value="Current">Current</option>
            <option value="Savings">Savings</option>
            <option value="Fixed">Fixed</option>
          </select>
        </div>

        <div class="mt-3">
          <button class="btn btn-submit btn-color" routerLink="/home" (click)="createAccount()">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
